.buttons {
    display: flex;
    justify-content: space-between; 
}
.button {
    width: 200px;
    height: 40px;
    font-size: 12px;
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}