.container {
    margin: 50px 50px 50px 50px; /*top right bottom left */
}

.color-indicator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.info-container {
    display: flex;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.station-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}